## ACCRankings

import required libraries

In [188]:
import sqlite3
import pandas as pd
import numpy as np

## Reference for concepts


https://www.basketball-reference.com/about/glossary.html


https://thepowerrank.com/cbb-analytics/


https://www.hoopcoach.org/points-per-possessions/#:~:text=Answer%3A,scored%20*%20100)%20%2F%20Possessions.&text=is%20the%20formula%20for%20accurately%20measuring%20the%20total%20number%20of%20possessions.

$$Efficiency = (Points scored * 100) / Possessions$$

$$ POSS = FGA â€“ OREB + TO + (0.475 * FTA)$$

Connecting sqlite db

In [15]:
con = sqlite3.connect('acc1819.db')
cur = con.cursor()
cur.execute("select * from box_scores")
print(cur.fetchone())
con.close

(1, 'Virginia Tech Hokies', 1, 81, 19, 7, 5, 1, 24, 2, 22, 55, 33, 11, 18, 5, 4, 13)

Getting started with sqlite

In [12]:
for row in cur.execute("select * from box_scores"):
    print(row)

(1, 'Virginia Tech Hokies', 1, 81, 19, 7, 5, 1, 24, 2, 22, 55, 33, 11, 18, 5, 4, 13)
(1, 'Notre Dame Fighting Irish', 0, 66, 13, 11, 2, 5, 30, 13, 17, 56, 23, 13, 34, 13, 7, 10)
(2, 'North Carolina State Wolfpack', 0, 87, 17, 16, 4, 3, 50, 17, 33, 68, 31, 11, 30, 18, 14, 23)
(2, 'Miami (FL) Hurricanes', 1, 82, 12, 7, 7, 1, 27, 9, 18, 61, 28, 10, 25, 29, 16, 14)
(3, 'Duke Blue Devils', 1, 87, 16, 12, 13, 6, 39, 12, 27, 67, 32, 7, 23, 21, 16, 15)
(3, 'Clemson Tigers', 0, 68, 14, 16, 6, 2, 35, 9, 26, 63, 27, 6, 15, 12, 8, 16)
(4, 'Virginia Tech Hokies', 1, 77, 13, 11, 5, 2, 31, 8, 23, 54, 25, 6, 22, 25, 21, 18)
(4, 'Boston College Eagles', 0, 66, 10, 12, 4, 2, 25, 5, 20, 48, 19, 8, 27, 25, 20, 22)
(5, 'Notre Dame Fighting Irish', 1, 62, 16, 10, 3, 7, 35, 9, 26, 58, 20, 11, 33, 17, 11, 12)
(5, 'Syracuse Orange', 0, 72, 11, 9, 4, 3, 43, 13, 30, 68, 28, 12, 29, 5, 4, 15)
(6, 'North Carolina Tar Heels', 0, 85, 24, 11, 8, 7, 49, 16, 33, 74, 32, 10, 24, 17, 11, 24)
(6, 'Pittsburgh Panthers', 1, 60, 7, 15, 7, 7, 37, 11, 26, 62, 19, 2, 19, 32, 20, 19)
(7, 'Wake Forest Demon Deacons', 0, 79, 10, 13, 6, 2, 28, 11, 17, 68, 27, 9, 22, 22, 16, 23)
(7, 'Georgia Tech Yellow Jackets', 1, 92, 20, 12, 11, 8, 27, 5, 22, 52, 29, 6, 20, 34, 28, 19)
(8, 'Florida State Seminoles', 0, 52, 8, 13, 9, 6, 29, 6, 23, 44, 15, 6, 23, 27, 16, 19)
(8, 'Virginia Cavaliers', 1, 65, 12, 10, 4, 2, 32, 6, 26, 52, 21, 7, 16, 18, 16, 16)
(9, 'Louisville Cardinals', 1, 90, 19, 7, 1, 1, 38, 14, 24, 69, 33, 13, 31, 15, 11, 16)
(9, 'Miami (FL) Hurricanes', 0, 73, 7, 12, 4, 0, 34, 10, 24, 56, 24, 10, 26, 20, 15, 16)
(10, 'Wake Forest Demon Deacons', 1, 65, 6, 15, 5, 0, 31, 15, 16, 65, 22, 4, 18, 28, 17, 16)
(10, 'Duke Blue Devils', 0, 87, 24, 17, 7, 13, 39, 12, 27, 62, 36, 7, 23, 16, 8, 22)
(11, 'North Carolina State Wolfpack', 1, 82, 17, 13, 12, 8, 28, 8, 20, 73, 31, 8, 28, 17, 12, 21)
(11, 'North Carolina Tar Heels', 0, 90, 20, 23, 4, 5, 47, 12, 35, 64, 29, 10, 25, 26, 22, 20)
(12, 'Georgia Tech Yellow Jackets', 1, 49, 12, 18, 5, 4, 29, 2, 27, 38, 17, 6, 16, 16, 9, 22)
(12, 'Virginia Tech Hokies', 0, 52, 12, 8, 3, 2, 30, 9, 21, 57, 17, 5, 27, 19, 13, 15)
(13, 'Syracuse Orange', 1, 61, 12, 15, 5, 7, 31, 5, 26, 48, 20, 6, 26, 23, 15, 16)
(13, 'Clemson Tigers', 0, 53, 14, 16, 7, 2, 32, 9, 23, 53, 19, 5, 20, 17, 10, 22)
(14, 'Pittsburgh Panthers', 1, 89, 15, 12, 6, 6, 28, 6, 22, 61, 32, 9, 20, 33, 16, 26)
(14, 'Louisville Cardinals', 0, 86, 17, 18, 2, 5, 37, 11, 26, 68, 31, 7, 28, 23, 17, 24)
(15, 'Florida State Seminoles', 1, 68, 15, 9, 7, 3, 38, 11, 27, 64, 27, 6, 26, 13, 8, 20)
(15, 'Miami (FL) Hurricanes', 0, 62, 10, 12, 3, 0, 29, 8, 21, 54, 20, 4, 18, 22, 18, 15)
(16, 'Virginia Cavaliers', 0, 83, 17, 10, 5, 6, 38, 7, 31, 55, 33, 8, 19, 14, 9, 16)
(16, 'Boston College Eagles', 1, 56, 6, 8, 4, 0, 18, 4, 14, 57, 22, 7, 25, 9, 5, 12)
(17, 'Notre Dame Fighting Irish', 1, 69, 11, 10, 7, 5, 40, 11, 29, 61, 21, 7, 26, 23, 20, 15)
(17, 'Boston College Eagles', 0, 66, 9, 12, 4, 3, 41, 11, 30, 65, 26, 6, 21, 10, 8, 19)
(18, 'Virginia Cavaliers', 0, 63, 11, 8, 4, 2, 46, 10, 36, 57, 23, 10, 23, 12, 7, 13)
(18, 'Clemson Tigers', 1, 43, 5, 7, 7, 2, 36, 8, 28, 54, 14, 3, 19, 17, 12, 14)
(19, 'Pittsburgh Panthers', 0, 80, 13, 16, 8, 4, 30, 7, 23, 55, 25, 6, 13, 28, 24, 21)
(19, 'North Carolina State Wolfpack', 1, 86, 16, 13, 9, 6, 38, 15, 23, 71, 30, 7, 20, 25, 19, 19)
(20, 'North Carolina Tar Heels', 1, 62, 13, 14, 9, 3, 26, 11, 15, 58, 20, 3, 22, 27, 19, 21)
(20, 'Louisville Cardinals', 0, 83, 17, 14, 8, 0, 36, 7, 29, 54, 28, 11, 26, 26, 16, 20)
(21, 'Duke Blue Devils', 0, 80, 14, 14, 7, 3, 27, 9, 18, 65, 30, 11, 24, 15, 9, 15)
(21, 'Florida State Seminoles', 1, 78, 16, 17, 8, 7, 36, 16, 20, 62, 25, 8, 25, 24, 20, 14)
(22, 'Miami (FL) Hurricanes', 1, 76, 16, 15, 5, 5, 36, 6, 30, 48, 23, 11, 25, 23, 19, 12)
(22, 'Wake Forest Demon Deacons', 0, 65, 11, 12, 7, 0, 33, 14, 19, 73, 25, 7, 33, 9, 8, 20)
(23, 'Georgia Tech Yellow Jackets', 0, 73, 16, 21, 15, 4, 28, 6, 22, 42, 25, 6, 12, 27, 17, 17)
(23, 'Syracuse Orange', 1, 59, 13, 17, 10, 4, 25, 10, 15, 57, 18, 7, 33, 21, 16, 19)
(24, 'Syracuse Orange', 0, 95, 13, 14, 3, 5, 44, 11, 33, 80, 35, 11, 25, 19, 14, 20)
(24, 'Duke Blue Devils', 1, 91, 21, 11, 8, 12, 48, 14, 34, 80, 31, 9, 43, 27, 20, 20)
(25, 'Florida State Seminoles', 0, 62, 8, 12, 7, 8, 38, 14, 24, 58, 20, 2, 22, 27, 20, 31)
(25, 'Pittsburgh Panthers', 1, 75, 8, 12, 7, 6, 34, 7, 27, 46, 16, 5, 17, 46, 38, 19)
(26, 'North Carolina State Wolfpack', 0, 67, 10, 9, 8, 4, 39, 18, 21, 73, 27, 6, 29, 9, 7, 22)
(26, 'Wake Forest Demon Deacons', 1, 71, 10, 11, 8, 4, 41, 12, 29, 52, 23, 2, 11, 28, 23, 14)
(27, 'Virginia Tech Hokies', 0, 59, 10, 9, 6, 1, 19, 6, 13, 44, 19, 7, 21, 17, 14, 10)
(27, 'Virginia Cavaliers', 1, 81, 18, 9, 4, 2, 27, 8, 19, 53, 31, 13, 24, 6, 6, 10)
(28, 'Notre Dame Fighting Irish', 0, 69, 13, 11, 2, 8, 36, 7, 29, 61, 25, 10, 28, 14, 9, 16)
(28, 'North Carolina Tar Heels', 1, 75, 15, 11, 6, 2, 47, 16, 31, 68, 27, 9, 21, 20, 12, 15)
(29, 'Louisville Cardinals', 1, 80, 16, 12, 6, 2, 41, 12, 29, 62, 29, 12, 29, 14, 10, 11)
(29, 'Boston College Eagles', 0, 70, 14, 12, 6, 3, 30, 6, 24, 60, 27, 7, 23, 12, 9, 15)
(30, 'Georgia Tech Yellow Jackets', 0, 60, 7, 11, 6, 7, 18, 2, 16, 44, 21, 4, 11, 21, 14, 17)
(30, 'Clemson Tigers', 1, 72, 13, 9, 5, 2, 28, 7, 21, 53, 27, 7, 16, 14, 11, 18)
(31, 'Virginia Cavaliers', 0, 70, 8, 8, 4, 4, 27, 6, 21, 53, 28, 3, 17, 17, 11, 20)
(31, 'Duke Blue Devils', 1, 72, 6, 8, 5, 1, 30, 8, 22, 51, 26, 2, 14, 31, 18, 18)
(32, 'Miami (FL) Hurricanes', 1, 76, 13, 11, 7, 2, 23, 6, 17, 55, 27, 9, 21, 18, 13, 15)
(32, 'North Carolina Tar Heels', 0, 85, 26, 15, 7, 1, 36, 11, 25, 60, 33, 9, 20, 14, 10, 19)
(33, 'Notre Dame Fighting Irish', 1, 73, 15, 9, 4, 4, 37, 9, 28, 59, 24, 7, 28, 24, 18, 18)
(33, 'North Carolina State Wolfpack', 0, 77, 15, 7, 4, 3, 42, 13, 29, 69, 30, 7, 19, 15, 10, 19)
(34, 'Syracuse Orange', 1, 74, 17, 14, 8, 10, 30, 7, 23, 54, 25, 12, 26, 23, 12, 14)
(34, 'Pittsburgh Panthers', 0, 63, 8, 16, 4, 2, 39, 15, 24, 65, 22, 11, 35, 14, 8, 23)
(35, 'Wake Forest Demon Deacons', 0, 71, 8, 14, 3, 0, 30, 12, 18, 48, 18, 8, 24, 38, 27, 18)
(35, 'Virginia Tech Hokies', 1, 87, 15, 11, 8, 4, 22, 4, 18, 51, 29, 11, 26, 22, 18, 24)
(36, 'Louisville Cardinals', 0, 79, 21, 11, 5, 2, 41, 9, 32, 66, 31, 7, 24, 14, 10, 22)
(36, 'Georgia Tech Yellow Jackets', 1, 51, 13, 17, 6, 6, 29, 6, 23, 50, 19, 1, 10, 24, 12, 17)
(37, 'Florida State Seminoles', 0, 82, 12, 9, 4, 4, 36, 16, 20, 67, 28, 8, 25, 24, 18, 25)
(37, 'Boston College Eagles', 1, 87, 16, 13, 6, 4, 33, 10, 23, 55, 27, 13, 21, 28, 20, 20)
(38, 'North Carolina Tar Heels', 1, 103, 25, 12, 9, 2, 32, 10, 22, 67, 36, 16, 34, 17, 15, 13)
(38, 'Virginia Tech Hokies', 0, 82, 21, 15, 8, 1, 30, 10, 20, 61, 27, 13, 28, 16, 15, 18)
(39, 'Florida State Seminoles', 1, 77, 14, 8, 1, 1, 28, 5, 23, 55, 25, 10, 22, 21, 17, 15)
(39, 'Clemson Tigers', 0, 68, 13, 11, 1, 1, 31, 6, 25, 58, 26, 5, 17, 14, 11, 17)
(40, 'Notre Dame Fighting Irish', 0, 61, 15, 13, 9, 4, 34, 15, 19, 65, 21, 7, 30, 15, 12, 12)
(40, 'Georgia Tech Yellow Jackets', 1, 63, 11, 14, 8, 2, 29, 7, 22, 52, 24, 5, 19, 15, 10, 15)
(41, 'Virginia Cavaliers', 1, 68, 14, 7, 6, 6, 39, 12, 27, 57, 22, 7, 21, 21, 17, 15)
(41, 'Wake Forest Demon Deacons', 0, 45, 10, 10, 5, 3, 33, 10, 23, 55, 17, 6, 24, 7, 5, 18)
(42, 'Pittsburgh Panthers', 1, 64, 6, 14, 5, 3, 30, 8, 22, 53, 22, 3, 15, 20, 17, 17)
(42, 'Duke Blue Devils', 0, 79, 15, 12, 9, 7, 35, 14, 21, 65, 28, 7, 23, 20, 16, 17)
(43, 'North Carolina State Wolfpack', 0, 77, 14, 23, 6, 2, 36, 13, 23, 65, 30, 12, 27, 7, 5, 23)
(43, 'Louisville Cardinals', 1, 84, 13, 15, 5, 3, 24, 6, 18, 53, 26, 8, 23, 29, 24, 12)
(44, 'Miami (FL) Hurricanes', 0, 53, 11, 12, 4, 1, 32, 10, 22, 59, 20, 8, 29, 6, 5, 7)
(44, 'Syracuse Orange', 1, 73, 22, 6, 7, 11, 27, 4, 23, 53, 26, 14, 30, 8, 7, 8)
(45, 'Georgia Tech Yellow Jackets', 0, 53, 11, 18, 10, 3, 32, 9, 23, 58, 24, 3, 10, 6, 2, 17)
(45, 'Duke Blue Devils', 1, 66, 14, 12, 13, 7, 38, 11, 27, 58, 24, 2, 21, 19, 16, 13)
(46, 'Virginia Cavaliers', 0, 82, 12, 2, 2, 5, 44, 10, 34, 67, 35, 8, 18, 7, 4, 9)
(46, 'Notre Dame Fighting Irish', 1, 55, 10, 7, 1, 3, 29, 8, 21, 61, 22, 8, 29, 8, 3, 8)
(47, 'Pittsburgh Panthers', 0, 51, 8, 17, 4, 4, 33, 7, 26, 54, 19, 6, 21, 13, 7, 19)
(47, 'Louisville Cardinals', 1, 66, 14, 12, 8, 4, 37, 7, 30, 56, 22, 8, 23, 16, 14, 15)
(48, 'Clemson Tigers', 0, 67, 5, 15, 8, 4, 33, 10, 23, 51, 25, 0, 7, 26, 17, 16)
(48, 'North Carolina State Wolfpack', 1, 69, 11, 15, 3, 0, 26, 7, 19, 54, 24, 9, 24, 13, 12, 21)
(49, 'Wake Forest Demon Deacons', 1, 61, 12, 16, 2, 3, 38, 9, 29, 56, 25, 5, 23, 6, 6, 10)
(49, 'Boston College Eagles', 0, 65, 17, 6, 6, 2, 28, 9, 19, 65, 27, 7, 23, 10, 4, 13)
(50, 'Virginia Tech Hokies', 1, 78, 23, 12, 4, 2, 29, 7, 22, 48, 25, 14, 30, 20, 14, 15)
(50, 'Syracuse Orange', 0, 56, 7, 14, 8, 2, 23, 8, 15, 55, 20, 9, 28, 14, 7, 17)
(51, 'Miami (FL) Hurricanes', 1, 66, 11, 9, 5, 3, 23, 5, 18, 55, 23, 7, 29, 18, 13, 17)
(51, 'Florida State Seminoles', 0, 78, 20, 14, 5, 4, 32, 5, 27, 50, 28, 12, 20, 14, 10, 17)
(52, 'Notre Dame Fighting Irish', 1, 61, 9, 9, 7, 3, 32, 14, 18, 66, 23, 8, 24, 9, 7, 14)
(52, 'Duke Blue Devils', 0, 83, 13, 8, 8, 6, 39, 13, 26, 59, 32, 10, 19, 16, 9, 15)
(53, 'Virginia Cavaliers', 0, 66, 15, 15, 2, 6, 36, 10, 26, 52, 24, 4, 10, 19, 14, 22)
(53, 'North Carolina State Wolfpack', 1, 65, 10, 8, 8, 4, 24, 10, 14, 64, 22, 7, 26, 21, 14, 16)
(54, 'Georgia Tech Yellow Jackets', 1, 54, 15, 15, 8, 7, 32, 6, 26, 60, 21, 2, 16, 13, 10, 12)
(54, 'North Carolina Tar Heels', 0, 77, 21, 15, 10, 2, 37, 5, 32, 61, 29, 13, 27, 11, 6, 13)
(55, 'Clemson Tigers', 1, 82, 17, 14, 4, 7, 29, 5, 24, 47, 26, 14, 27, 21, 16, 19)
(55, 'Pittsburgh Panthers', 0, 69, 2, 12, 7, 1, 23, 8, 15, 53, 24, 8, 22, 21, 13, 21)
(56, 'Virginia Tech Hokies', 0, 82, 13, 15, 11, 3, 26, 2, 24, 51, 30, 9, 19, 15, 13, 14)
(56, 'Miami (FL) Hurricanes', 1, 70, 14, 16, 11, 1, 22, 4, 18, 56, 23, 12, 33, 14, 12, 12)
(57, 'Syracuse Orange', 0, 77, 11, 11, 6, 1, 23, 7, 16, 52, 29, 11, 26, 15, 8, 19)
(57, 'Boston College Eagles', 1, 71, 13, 11, 5, 0, 23, 6, 17, 45, 21, 9, 22, 23, 20, 19)
(58, 'Louisville Cardinals', 0, 82, 16, 11, 6, 3, 39, 9, 30, 56, 29, 10, 24, 18, 14, 17)
(58, 'Wake Forest Demon Deacons', 1, 54, 3, 11, 6, 2, 32, 15, 17, 68, 18, 2, 20, 19, 16, 16)
(59, 'North Carolina Tar Heels', 0, 79, 16, 10, 7, 3, 47, 16, 31, 69, 29, 6, 24, 19, 15, 15)
(59, 'Louisville Cardinals', 1, 69, 14, 11, 4, 3, 31, 7, 24, 62, 26, 10, 29, 9, 7, 16)
(60, 'Virginia Tech Hokies', 0, 47, 8, 10, 8, 3, 37, 10, 27, 45, 16, 7, 21, 13, 8, 11)
(60, 'North Carolina State Wolfpack', 1, 24, 2, 10, 5, 3, 32, 13, 19, 54, 9, 2, 28, 6, 4, 16)
(61, 'Georgia Tech Yellow Jackets', 0, 49, 5, 14, 3, 2, 30, 9, 21, 60, 17, 3, 21, 14, 12, 23)
(61, 'Florida State Seminoles', 1, 59, 10, 14, 5, 5, 35, 6, 29, 46, 16, 4, 16, 30, 23, 19)
(62, 'Notre Dame Fighting Irish', 0, 79, 10, 9, 3, 3, 25, 4, 21, 51, 27, 10, 20, 18, 15, 13)
(62, 'Boston College Eagles', 1, 73, 17, 9, 4, 2, 34, 14, 20, 67, 31, 7, 23, 8, 4, 13)
(63, 'Miami (FL) Hurricanes', 0, 46, 6, 7, 6, 2, 23, 5, 18, 50, 17, 4, 21, 15, 8, 14)
(63, 'Virginia Cavaliers', 1, 56, 16, 14, 5, 6, 40, 10, 30, 52, 22, 6, 17, 10, 6, 10)
(64, 'Pittsburgh Panthers', 1, 56, 14, 11, 6, 1, 37, 16, 21, 57, 18, 5, 22, 22, 15, 17)
(64, 'Syracuse Orange', 0, 65, 11, 9, 7, 6, 34, 10, 24, 53, 22, 7, 22, 17, 14, 17)
(65, 'Wake Forest Demon Deacons', 0, 37, 8, 15, 4, 3, 35, 15, 20, 59, 14, 3, 22, 8, 6, 14)
(65, 'Clemson Tigers', 1, 64, 13, 11, 8, 10, 30, 7, 23, 53, 25, 6, 18, 11, 8, 12)
(66, 'Virginia Tech Hokies', 1, 64, 13, 12, 4, 5, 24, 4, 20, 45, 20, 9, 24, 21, 15, 14)
(66, 'Louisville Cardinals', 0, 72, 14, 15, 3, 0, 30, 10, 20, 53, 24, 13, 27, 12, 11, 16)
(67, 'Boston College Eagles', 0, 55, 9, 14, 1, 0, 30, 5, 25, 56, 20, 6, 17, 11, 9, 15)
(67, 'Duke Blue Devils', 1, 80, 14, 7, 9, 9, 41, 14, 27, 65, 29, 7, 24, 22, 15, 13)
(68, 'Pittsburgh Panthers', 0, 76, 15, 9, 9, 4, 32, 14, 18, 69, 29, 8, 21, 18, 10, 15)
(68, 'Wake Forest Demon Deacons', 1, 78, 16, 18, 4, 6, 41, 14, 27, 64, 27, 9, 24, 20, 15, 17)
(69, 'North Carolina Tar Heels', 1, 113, 26, 17, 7, 7, 38, 11, 27, 66, 37, 8, 21, 37, 31, 23)
(69, 'North Carolina State Wolfpack', 0, 96, 17, 11, 9, 6, 22, 10, 12, 74, 37, 7, 17, 24, 15, 28)
(70, 'Syracuse Orange', 1, 62, 7, 19, 9, 7, 27, 9, 18, 51, 21, 5, 20, 24, 15, 14)
(70, 'Florida State Seminoles', 0, 80, 25, 21, 11, 3, 31, 8, 23, 55, 30, 11, 22, 12, 9, 21)
(71, 'Georgia Tech Yellow Jackets', 1, 42, 8, 16, 6, 8, 24, 6, 18, 43, 13, 4, 12, 16, 12, 11)
(71, 'Clemson Tigers', 0, 65, 17, 10, 7, 7, 34, 7, 27, 55, 27, 6, 17, 10, 5, 15)
(72, 'Miami (FL) Hurricanes', 1, 62, 8, 10, 10, 1, 38, 11, 27, 62, 27, 4, 22, 5, 4, 13)
(72, 'Notre Dame Fighting Irish', 0, 47, 7, 14, 6, 1, 31, 7, 24, 56, 18, 4, 28, 7, 7, 10)
(73, 'Miami (FL) Hurricanes', 0, 85, 14, 15, 6, 3, 35, 9, 26, 68, 32, 14, 31, 7, 7, 16)
(73, 'North Carolina Tar Heels', 1, 88, 15, 10, 9, 4, 29, 3, 26, 66, 31, 13, 26, 17, 13, 13)
(74, 'Clemson Tigers', 1, 59, 13, 12, 6, 12, 28, 5, 23, 46, 19, 11, 28, 13, 10, 18)
(74, 'Virginia Tech Hokies', 0, 51, 7, 11, 7, 0, 26, 8, 18, 45, 10, 4, 18, 11, 10, 12)
(75, 'North Carolina State Wolfpack', 0, 79, 17, 10, 7, 4, 34, 18, 16, 64, 26, 14, 27, 21, 13, 16)
(75, 'Pittsburgh Panthers', 1, 76, 11, 15, 6, 8, 34, 11, 23, 55, 26, 8, 19, 19, 16, 20)
(76, 'Boston College Eagles', 0, 56, 12, 16, 4, 1, 30, 10, 20, 54, 18, 7, 23, 19, 13, 20)
(76, 'Syracuse Orange', 1, 67, 10, 11, 12, 6, 32, 9, 23, 53, 22, 7, 19, 20, 16, 16)
(77, 'Louisville Cardinals', 0, 75, 12, 23, 1, 1, 33, 7, 26, 52, 25, 12, 28, 16, 13, 28)
(77, 'Florida State Seminoles', 1, 80, 6, 8, 11, 2, 31, 12, 19, 61, 23, 7, 23, 36, 27, 21)
(78, 'Virginia Cavaliers', 1, 71, 15, 13, 8, 5, 25, 11, 14, 60, 28, 10, 24, 7, 5, 17)
(78, 'Duke Blue Devils', 0, 81, 18, 15, 12, 5, 24, 7, 17, 45, 26, 13, 21, 23, 16, 9)
(79, 'Georgia Tech Yellow Jackets', 0, 59, 13, 12, 7, 7, 33, 10, 23, 54, 22, 7, 23, 13, 8, 17)
(79, 'Notre Dame Fighting Irish', 1, 69, 12, 8, 8, 2, 43, 18, 25, 64, 21, 6, 27, 25, 21, 14)
(80, 'North Carolina Tar Heels', 1, 61, 17, 7, 2, 3, 37, 15, 22, 65, 23, 9, 30, 7, 6, 14)
(80, 'Virginia Cavaliers', 0, 69, 16, 8, 5, 6, 26, 3, 23, 45, 24, 11, 20, 18, 10, 11)
(81, 'Boston College Eagles', 1, 66, 14, 16, 5, 7, 42, 12, 30, 52, 24, 8, 18, 19, 10, 16)
(81, 'Pittsburgh Panthers', 0, 57, 13, 10, 10, 2, 37, 14, 23, 69, 20, 10, 37, 12, 7, 18)
(82, 'Louisville Cardinals', 1, 69, 17, 17, 6, 3, 38, 9, 29, 60, 25, 9, 27, 13, 10, 17)
(82, 'Duke Blue Devils', 0, 71, 10, 11, 12, 2, 39, 11, 28, 63, 23, 7, 28, 24, 18, 17)
(83, 'Clemson Tigers', 0, 64, 8, 11, 5, 2, 34, 6, 28, 55, 23, 3, 19, 15, 15, 17)
(83, 'Miami (FL) Hurricanes', 1, 65, 9, 7, 3, 4, 26, 5, 21, 54, 21, 10, 25, 17, 13, 16)
(84, 'Florida State Seminoles', 1, 88, 21, 9, 7, 6, 41, 12, 29, 62, 35, 10, 26, 16, 8, 16)
(84, 'Wake Forest Demon Deacons', 0, 66, 13, 9, 3, 3, 25, 5, 20, 57, 22, 11, 25, 17, 11, 16)
(85, 'North Carolina State Wolfpack', 1, 73, 19, 20, 10, 4, 37, 5, 32, 49, 24, 5, 18, 24, 20, 17)
(85, 'Syracuse Orange', 0, 58, 8, 12, 10, 3, 28, 10, 18, 60, 21, 5, 25, 22, 11, 19)
(86, 'Georgia Tech Yellow Jackets', 0, 68, 15, 10, 2, 4, 26, 7, 19, 53, 23, 11, 27, 13, 11, 14)
(86, 'Virginia Tech Hokies', 1, 76, 20, 9, 7, 3, 23, 7, 16, 53, 25, 13, 30, 18, 13, 16)
(87, 'North Carolina State Wolfpack', 0, 78, 16, 12, 8, 3, 23, 4, 19, 66, 33, 6, 19, 11, 6, 19)
(87, 'Duke Blue Devils', 1, 94, 21, 12, 9, 7, 43, 14, 29, 66, 35, 3, 16, 28, 21, 16)
(88, 'Wake Forest Demon Deacons', 1, 57, 8, 20, 2, 4, 32, 14, 18, 67, 22, 4, 23, 13, 9, 9)
(88, 'North Carolina Tar Heels', 0, 95, 21, 15, 13, 6, 34, 7, 27, 61, 38, 16, 25, 11, 3, 19)
(89, 'Louisville Cardinals', 1, 56, 8, 12, 5, 3, 28, 3, 25, 54, 19, 6, 19, 14, 12, 12)
(89, 'Clemson Tigers', 0, 55, 8, 17, 5, 2, 39, 10, 29, 57, 22, 6, 13, 7, 5, 17)
(90, 'Virginia Cavaliers', 1, 60, 12, 8, 5, 4, 35, 6, 29, 52, 19, 8, 23, 17, 14, 6)
(90, 'Notre Dame Fighting Irish', 0, 54, 8, 7, 6, 3, 31, 5, 26, 55, 19, 8, 30, 8, 8, 13)
(91, 'Florida State Seminoles', 0, 69, 17, 14, 7, 6, 48, 10, 38, 64, 25, 9, 30, 14, 10, 17)
(91, 'Georgia Tech Yellow Jackets', 1, 47, 9, 14, 7, 3, 37, 6, 31, 59, 16, 8, 23, 11, 7, 10)
(92, 'Virginia Tech Hokies', 0, 70, 14, 14, 6, 1, 27, 6, 21, 41, 21, 10, 21, 26, 18, 24)
(92, 'Pittsburgh Panthers', 1, 64, 11, 15, 7, 2, 22, 6, 16, 43, 20, 6, 22, 27, 18, 22)
(93, 'Boston College Eagles', 1, 64, 11, 14, 5, 2, 40, 10, 30, 54, 24, 6, 15, 12, 10, 12)
(93, 'Miami (FL) Hurricanes', 0, 57, 11, 9, 5, 2, 26, 8, 18, 60, 22, 4, 26, 12, 9, 15)
(94, 'Virginia Cavaliers', 0, 64, 14, 13, 5, 4, 27, 6, 21, 50, 23, 11, 27, 12, 7, 15)
(94, 'Virginia Tech Hokies', 1, 58, 9, 8, 9, 2, 26, 11, 15, 58, 23, 3, 28, 13, 9, 12)
(95, 'Notre Dame Fighting Irish', 1, 68, 16, 10, 5, 4, 25, 6, 19, 51, 23, 8, 26, 18, 14, 19)
(95, 'Wake Forest Demon Deacons', 0, 75, 19, 14, 7, 2, 34, 10, 24, 53, 26, 8, 18, 22, 15, 16)
(96, 'Clemson Tigers', 1, 64, 11, 11, 5, 4, 28, 7, 21, 60, 23, 8, 23, 16, 10, 18)
(96, 'Florida State Seminoles', 0, 77, 12, 12, 4, 4, 40, 8, 32, 60, 29, 7, 18, 17, 12, 21)
(97, 'North Carolina State Wolfpack', 1, 89, 14, 13, 11, 0, 36, 15, 21, 67, 29, 9, 25, 26, 22, 18)
(97, 'Boston College Eagles', 0, 80, 13, 16, 4, 4, 37, 14, 23, 64, 30, 11, 29, 15, 9, 19)
(98, 'Syracuse Orange', 1, 69, 12, 12, 5, 5, 39, 9, 30, 57, 22, 11, 30, 16, 14, 14)
(98, 'Louisville Cardinals', 0, 49, 9, 13, 7, 2, 36, 10, 26, 54, 14, 6, 28, 18, 15, 16)
(99, 'North Carolina Tar Heels', 0, 88, 20, 14, 10, 2, 45, 9, 36, 75, 38, 2, 20, 14, 10, 15)
(99, 'Duke Blue Devils', 1, 72, 9, 20, 11, 8, 37, 11, 26, 72, 25, 8, 39, 19, 14, 17)
(100, 'Pittsburgh Panthers', 0, 65, 12, 8, 8, 1, 31, 14, 17, 57, 19, 7, 20, 38, 20, 20)
(100, 'Georgia Tech Yellow Jackets', 1, 73, 13, 12, 4, 12, 34, 6, 28, 48, 24, 7, 19, 24, 18, 24)
(101, 'Syracuse Orange', 1, 65, 12, 5, 9, 5, 37, 17, 20, 70, 24, 5, 23, 19, 12, 16)
(101, 'Duke Blue Devils', 0, 75, 16, 13, 2, 6, 38, 11, 27, 59, 26, 9, 29, 16, 14, 16)
(102, 'Virginia Cavaliers', 0, 64, 12, 4, 2, 7, 35, 6, 29, 56, 26, 2, 17, 10, 10, 12)
(102, 'Louisville Cardinals', 1, 52, 10, 5, 2, 3, 26, 5, 21, 55, 17, 12, 33, 8, 6, 12)
(103, 'Clemson Tigers', 1, 76, 15, 12, 8, 3, 30, 6, 24, 52, 27, 8, 17, 18, 14, 11)
(103, 'Boston College Eagles', 0, 66, 8, 13, 3, 1, 32, 12, 20, 61, 25, 7, 25, 13, 9, 16)
(104, 'Miami (FL) Hurricanes', 1, 80, 20, 10, 10, 4, 32, 12, 20, 58, 27, 9, 25, 19, 17, 16)
(104, 'Georgia Tech Yellow Jackets', 0, 65, 13, 14, 6, 3, 27, 7, 20, 58, 25, 7, 21, 12, 8, 18)
(105, 'North Carolina Tar Heels', 1, 77, 11, 10, 3, 3, 42, 8, 34, 61, 26, 7, 20, 25, 18, 15)
(105, 'Florida State Seminoles', 0, 59, 13, 10, 6, 8, 31, 6, 25, 59, 18, 10, 31, 16, 13, 18)
(106, 'Virginia Tech Hokies', 0, 67, 8, 15, 5, 2, 45, 16, 29, 52, 19, 5, 18, 31, 24, 18)
(106, 'Notre Dame Fighting Irish', 1, 59, 9, 10, 9, 2, 26, 8, 18, 58, 19, 6, 26, 16, 15, 25)
(107, 'Wake Forest Demon Deacons', 0, 74, 12, 9, 4, 2, 30, 8, 22, 59, 23, 7, 21, 20, 14, 19)
(107, 'North Carolina State Wolfpack', 1, 94, 19, 9, 5, 7, 44, 14, 30, 67, 31, 11, 30, 30, 21, 20)
(108, 'Notre Dame Fighting Irish', 0, 61, 9, 9, 10, 4, 23, 4, 19, 56, 22, 8, 21, 13, 9, 14)
(108, 'Florida State Seminoles', 1, 68, 12, 14, 3, 4, 34, 9, 25, 56, 25, 6, 19, 17, 12, 12)
(109, 'Virginia Tech Hokies', 1, 77, 12, 5, 6, 1, 26, 6, 20, 50, 23, 8, 26, 29, 23, 15)
(109, 'Duke Blue Devils', 0, 72, 11, 12, 1, 4, 29, 7, 22, 50, 25, 7, 21, 19, 15, 20)
(110, 'Wake Forest Demon Deacons', 1, 76, 12, 13, 4, 1, 40, 14, 26, 61, 24, 9, 26, 23, 19, 22)
(110, 'Miami (FL) Hurricanes', 0, 75, 15, 9, 10, 5, 31, 8, 23, 54, 20, 11, 31, 29, 24, 15)
(111, 'Syracuse Orange', 0, 85, 17, 10, 5, 3, 23, 7, 16, 60, 29, 14, 31, 23, 13, 26)
(111, 'North Carolina Tar Heels', 1, 93, 19, 9, 5, 2, 38, 16, 22, 62, 25, 9, 29, 37, 34, 18)
(112, 'Pittsburgh Panthers', 1, 48, 8, 13, 7, 5, 27, 5, 22, 44, 12, 3, 14, 28, 21, 13)
(112, 'Clemson Tigers', 0, 62, 18, 13, 6, 6, 32, 4, 28, 52, 22, 10, 26, 9, 8, 23)

## Sqlite tables to pandas Dataframe

In [129]:
df_box_scores = pd.read_sql_query("SELECT * FROM box_scores", con)
df_box_scores.head(5)

,GameId,Team,Home,Score,AST,TOV,STL,BLK,Rebounds,ORB,DRB,FGA,FGM,3FGM,3FGA,FTA,FTM,Fouls
0,1,Virginia Tech Hokies,1,81,19,7,5,1,24,2,22,55,33,11,18,5,4,13
1,1,Notre Dame Fighting Irish,0,66,13,11,2,5,30,13,17,56,23,13,34,13,7,10
2,2,North Carolina State Wolfpack,0,87,17,16,4,3,50,17,33,68,31,11,30,18,14,23
3,2,Miami (FL) Hurricanes,1,82,12,7,7,1,27,9,18,61,28,10,25,29,16,14
4,3,Duke Blue Devils,1,87,16,12,13,6,39,12,27,67,32,7,23,21,16,15

In [130]:
df_games = pd.read_sql_query("SELECT * FROM games", con)
df_games.head(5)

,GameId,GameDate,NeutralSite,AwayTeam,HomeTeam
0,1,1/1/2019 13:00,0,Notre Dame Fighting Irish,Virginia Tech Hokies
1,2,1/3/2019 19:00,0,North Carolina State Wolfpack,Miami (FL) Hurricanes
2,3,1/5/2019 3:27,0,Clemson Tigers,Duke Blue Devils
3,4,1/5/2019 12:00,0,Boston College Eagles,Virginia Tech Hokies
4,5,1/5/2019 12:00,0,Syracuse Orange,Notre Dame Fighting Irish

## Home team data

In [131]:
df_box_scores_home = pd.read_sql_query("SELECT * FROM box_scores where Home=1", con)
df_box_scores_home.head(5)

,GameId,Team,Home,Score,AST,TOV,STL,BLK,Rebounds,ORB,DRB,FGA,FGM,3FGM,3FGA,FTA,FTM,Fouls
0,1,Virginia Tech Hokies,1,81,19,7,5,1,24,2,22,55,33,11,18,5,4,13
1,2,Miami (FL) Hurricanes,1,82,12,7,7,1,27,9,18,61,28,10,25,29,16,14
2,3,Duke Blue Devils,1,87,16,12,13,6,39,12,27,67,32,7,23,21,16,15
3,4,Virginia Tech Hokies,1,77,13,11,5,2,31,8,23,54,25,6,22,25,21,18
4,5,Notre Dame Fighting Irish,1,62,16,10,3,7,35,9,26,58,20,11,33,17,11,12

## Away Team data

In [132]:
df_box_scores_away = pd.read_sql_query("SELECT * FROM box_scores where Home=0", con)
df_box_scores_away.head(5)

,GameId,Team,Home,Score,AST,TOV,STL,BLK,Rebounds,ORB,DRB,FGA,FGM,3FGM,3FGA,FTA,FTM,Fouls
0,1,Notre Dame Fighting Irish,0,66,13,11,2,5,30,13,17,56,23,13,34,13,7,10
1,2,North Carolina State Wolfpack,0,87,17,16,4,3,50,17,33,68,31,11,30,18,14,23
2,3,Clemson Tigers,0,68,14,16,6,2,35,9,26,63,27,6,15,12,8,16
3,4,Boston College Eagles,0,66,10,12,4,2,25,5,20,48,19,8,27,25,20,22
4,5,Syracuse Orange,0,72,11,9,4,3,43,13,30,68,28,12,29,5,4,15

## Renaming columns for better grasp of column

In [133]:
df_box_scores_home.rename(index=str, columns={"GameId": "HomeGameId", "Team": "HomeTeam","Home":"HomeorAway","Score":"HomeScore","AST":"HomeAST","TOV":"HomeTOV","STL":"HomeSTL","BLK":"HomeBLK","Rebounds":"HomeRebounds","ORB":"HomeORB","DRB":"HomeDRB","FGA":"HomeFGA","FGM":"HomeFGM","3FGM":"Home3FGM","3FGA":"Home3FGA","FTA":"HomeFTA","FTM":"HomeFTM","Fouls":"HomeFouls"}, inplace=True)
df_box_scores_away.rename(index=str, columns={"GameId": "GameId", "Team": "AwayTeam","Home":"AwayorHome","Score":"AwayScore","AST":"AwayAST","TOV":"AwayTOV","STL":"AwaySTL","BLK":"AwayBLK","Rebounds":"AwayRebounds","ORB":"AwayORB","DRB":"AwayDRB","FGA":"AwayFGA","FGM":"AwayFGM","3FGM":"Away3FGM","3FGA":"Away3FGA","FTA":"AwayFTA","FTM":"AwayFTM","Fouls":"AwayFouls"}, inplace=True)

## Renamed column names

In [134]:
df_box_scores_away.columns

Index(['GameId', 'AwayTeam', 'AwayorHome', 'AwayScore', 'AwayAST', 'AwayTOV',
       'AwaySTL', 'AwayBLK', 'AwayRebounds', 'AwayORB', 'AwayDRB', 'AwayFGA',
       'AwayFGM', 'Away3FGM', 'Away3FGA', 'AwayFTA', 'AwayFTM', 'AwayFouls'],
      dtype='object')

In [135]:
df_box_scores_home.columns

Index(['HomeGameId', 'HomeTeam', 'HomeorAway', 'HomeScore', 'HomeAST',
       'HomeTOV', 'HomeSTL', 'HomeBLK', 'HomeRebounds', 'HomeORB', 'HomeDRB',
       'HomeFGA', 'HomeFGM', 'Home3FGM', 'Home3FGA', 'HomeFTA', 'HomeFTM',
       'HomeFouls'],
      dtype='object')

## Joining table with rows having same gameid

In [136]:
concat = pd.concat([df_box_scores_away, df_box_scores_home], axis=1, join="inner")
concat.head(5)

,GameId,AwayTeam,AwayorHome,AwayScore,AwayAST,AwayTOV,AwaySTL,AwayBLK,AwayRebounds,AwayORB,...,HomeRebounds,HomeORB,HomeDRB,HomeFGA,HomeFGM,Home3FGM,Home3FGA,HomeFTA,HomeFTM,HomeFouls
0,1,Notre Dame Fighting Irish,0,66,13,11,2,5,30,13,...,24,2,22,55,33,11,18,5,4,13
1,2,North Carolina State Wolfpack,0,87,17,16,4,3,50,17,...,27,9,18,61,28,10,25,29,16,14
2,3,Clemson Tigers,0,68,14,16,6,2,35,9,...,39,12,27,67,32,7,23,21,16,15
3,4,Boston College Eagles,0,66,10,12,4,2,25,5,...,31,8,23,54,25,6,22,25,21,18
4,5,Syracuse Orange,0,72,11,9,4,3,43,13,...,35,9,26,58,20,11,33,17,11,12

In [137]:
concat.shape

(149, 36)

In [138]:
df_games.shape

(149, 5)

In [139]:
concat.columns

Index(['GameId', 'AwayTeam', 'AwayorHome', 'AwayScore', 'AwayAST', 'AwayTOV',
       'AwaySTL', 'AwayBLK', 'AwayRebounds', 'AwayORB', 'AwayDRB', 'AwayFGA',
       'AwayFGM', 'Away3FGM', 'Away3FGA', 'AwayFTA', 'AwayFTM', 'AwayFouls',
       'HomeGameId', 'HomeTeam', 'HomeorAway', 'HomeScore', 'HomeAST',
       'HomeTOV', 'HomeSTL', 'HomeBLK', 'HomeRebounds', 'HomeORB', 'HomeDRB',
       'HomeFGA', 'HomeFGM', 'Home3FGM', 'Home3FGA', 'HomeFTA', 'HomeFTM',
       'HomeFouls'],
      dtype='object')

Required columns from game table

In [140]:
df_games_req = df_games[["GameId","GameDate","NeutralSite"]]

In [141]:
df_games_req.head(5)

   GameId        GameDate  NeutralSite
0       1  1/1/2019 13:00            0
1       2  1/3/2019 19:00            0
2       3   1/5/2019 3:27            0
3       4  1/5/2019 12:00            0
4       5  1/5/2019 12:00            0

In [117]:
concat.head(5)

,GameId,AwayTeam,HomeorAway,AwayScore,AwayAST,AwayTOV,AwaySTL,AwayBLK,AwayRebounds,AwayORB,...,HomeRebounds,HomeORB,HomeDRB,HomeFGA,HomeFGM,Home3FGM,Home3FGA,HomeFTA,HomeFTM,HomeFouls
0,1,Notre Dame Fighting Irish,0,66,13,11,2,5,30,13,...,24,2,22,55,33,11,18,5,4,13
1,2,North Carolina State Wolfpack,0,87,17,16,4,3,50,17,...,27,9,18,61,28,10,25,29,16,14
2,3,Clemson Tigers,0,68,14,16,6,2,35,9,...,39,12,27,67,32,7,23,21,16,15
3,4,Boston College Eagles,0,66,10,12,4,2,25,5,...,31,8,23,54,25,6,22,25,21,18
4,5,Syracuse Orange,0,72,11,9,4,3,43,13,...,35,9,26,58,20,11,33,17,11,12

## Merging Game and Concatenated table

In [142]:
result = pd.merge(df_games_req, concat, on ="GameId")
result.head(5)

,GameId,GameDate,NeutralSite,AwayTeam,AwayorHome,AwayScore,AwayAST,AwayTOV,AwaySTL,AwayBLK,...,HomeRebounds,HomeORB,HomeDRB,HomeFGA,HomeFGM,Home3FGM,Home3FGA,HomeFTA,HomeFTM,HomeFouls
0,1,1/1/2019 13:00,0,Notre Dame Fighting Irish,0,66,13,11,2,5,...,24,2,22,55,33,11,18,5,4,13
1,2,1/3/2019 19:00,0,North Carolina State Wolfpack,0,87,17,16,4,3,...,27,9,18,61,28,10,25,29,16,14
2,3,1/5/2019 3:27,0,Clemson Tigers,0,68,14,16,6,2,...,39,12,27,67,32,7,23,21,16,15
3,4,1/5/2019 12:00,0,Boston College Eagles,0,66,10,12,4,2,...,31,8,23,54,25,6,22,25,21,18
4,5,1/5/2019 12:00,0,Syracuse Orange,0,72,11,9,4,3,...,35,9,26,58,20,11,33,17,11,12

In [143]:
result.columns

Index(['GameId', 'GameDate', 'NeutralSite', 'AwayTeam', 'AwayorHome',
       'AwayScore', 'AwayAST', 'AwayTOV', 'AwaySTL', 'AwayBLK', 'AwayRebounds',
       'AwayORB', 'AwayDRB', 'AwayFGA', 'AwayFGM', 'Away3FGM', 'Away3FGA',
       'AwayFTA', 'AwayFTM', 'AwayFouls', 'HomeGameId', 'HomeTeam',
       'HomeorAway', 'HomeScore', 'HomeAST', 'HomeTOV', 'HomeSTL', 'HomeBLK',
       'HomeRebounds', 'HomeORB', 'HomeDRB', 'HomeFGA', 'HomeFGM', 'Home3FGM',
       'Home3FGA', 'HomeFTA', 'HomeFTM', 'HomeFouls'],
      dtype='object')

Remove unnecessary columns

In [146]:
result.drop(columns=['GameId','HomeorAway','AwayorHome','HomeGameId'], inplace=True)

In [147]:
result.head(5)

,GameDate,NeutralSite,AwayTeam,AwayScore,AwayAST,AwayTOV,AwaySTL,AwayBLK,AwayRebounds,AwayORB,...,HomeRebounds,HomeORB,HomeDRB,HomeFGA,HomeFGM,Home3FGM,Home3FGA,HomeFTA,HomeFTM,HomeFouls
0,1/1/2019 13:00,0,Notre Dame Fighting Irish,66,13,11,2,5,30,13,...,24,2,22,55,33,11,18,5,4,13
1,1/3/2019 19:00,0,North Carolina State Wolfpack,87,17,16,4,3,50,17,...,27,9,18,61,28,10,25,29,16,14
2,1/5/2019 3:27,0,Clemson Tigers,68,14,16,6,2,35,9,...,39,12,27,67,32,7,23,21,16,15
3,1/5/2019 12:00,0,Boston College Eagles,66,10,12,4,2,25,5,...,31,8,23,54,25,6,22,25,21,18
4,1/5/2019 12:00,0,Syracuse Orange,72,11,9,4,3,43,13,...,35,9,26,58,20,11,33,17,11,12

In [148]:
result.shape

(149, 34)

Away table

In [150]:
away = result.iloc[:,2:18]

In [151]:
away

,AwayTeam,AwayScore,AwayAST,AwayTOV,AwaySTL,AwayBLK,AwayRebounds,AwayORB,AwayDRB,AwayFGA,AwayFGM,Away3FGM,Away3FGA,AwayFTA,AwayFTM,AwayFouls
0,Notre Dame Fighting Irish,66,13,11,2,5,30,13,17,56,23,13,34,13,7,10
1,North Carolina State Wolfpack,87,17,16,4,3,50,17,33,68,31,11,30,18,14,23
2,Clemson Tigers,68,14,16,6,2,35,9,26,63,27,6,15,12,8,16
3,Boston College Eagles,66,10,12,4,2,25,5,20,48,19,8,27,25,20,22
4,Syracuse Orange,72,11,9,4,3,43,13,30,68,28,12,29,5,4,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Louisville Cardinals,70,18,11,2,2,33,5,28,66,27,11,36,8,5,20
145,Syracuse Orange,72,7,17,8,3,27,9,18,52,25,9,21,22,13,22
146,Florida State Seminoles,69,10,12,3,3,33,9,24,46,26,6,16,15,11,16
147,Duke Blue Devils,74,15,12,6,6,34,9,25,65,31,5,20,13,7,16
148,Florida State Seminoles,63,8,12,5,5,30,12,18,63,20,8,20,16,15,16

## Calculating away team's offensive efficiency for each game

In [152]:
result['off_e_away'] = result.apply(lambda x: (x.AwayScore)/(x.AwayFGA - x.AwayORB + x.AwayTOV + (.475*x.AwayFTA)),axis=1)

In [154]:
result['off_e_away'].head()

0    1.096801
1    1.151555
2    0.898283
3    0.986916
4    1.084746
Name: off_e_away, dtype: float64

## Calculating away team's defensive efficiency for each game

In [155]:
result['def_e_away'] = result.apply(lambda x:(x.HomeScore)/(x.HomeFGA - x.HomeORB + x.HomeTOV + (.475*x.HomeFTA)),axis=1)

In [156]:
result['def_e_away'].head()

0    1.298597
1    1.126761
2    1.130237
3    1.117967
4    0.924338
Name: def_e_away, dtype: float64

## Net away efficiency for each game

In [157]:
result['net_away_efficiency'] = result['off_e_away'] - result['def_e_away']

In [159]:
result['net_away_efficiency']

0     -0.201796
1      0.024795
2     -0.231954
3     -0.131051
4      0.160407
         ...
144   -0.154789
145   -0.093536
146    0.248925
147   -0.000650
148   -0.136180
Name: net_away_efficiency, Length: 149, dtype: float64

## Calculating home team's offensive efficiency for each game

In [161]:
result['off_e_home'] = result.apply(lambda x: (x.HomeScore)/(x.HomeFGA - x.HomeORB + x.HomeTOV + (.475*x.HomeFTA)),axis=1)

In [162]:
result['off_e_away'].head()

0    1.096801
1    1.151555
2    0.898283
3    0.986916
4    1.084746
Name: off_e_away, dtype: float64

## Calculating home team's defensive efficiency for each game

In [163]:
result['def_e_home'] = result.apply(lambda x:(x.AwayScore)/(x.AwayFGA - x.AwayORB + x.AwayTOV + (.475*x.AwayFTA)),axis=1)

In [164]:
result['def_e_home'].head()

0    1.096801
1    1.151555
2    0.898283
3    0.986916
4    1.084746
Name: def_e_home, dtype: float64

## Net Home efficiency for each game

In [165]:
result['net_home_efficiency'] = result['off_e_home'] - result['def_e_home']

In [166]:
result['net_home_efficiency']

0      0.201796
1     -0.024795
2      0.231954
3      0.131051
4     -0.160407
         ...
144    0.154789
145    0.093536
146   -0.248925
147    0.000650
148    0.136180
Name: net_home_efficiency, Length: 149, dtype: float64

In [167]:
team_eff = result[['AwayTeam','net_away_efficiency','HomeTeam','net_home_efficiency']]

In [168]:
team_eff

,AwayTeam,net_away_efficiency,HomeTeam,net_home_efficiency
0,Notre Dame Fighting Irish,-0.201796,Virginia Tech Hokies,0.201796
1,North Carolina State Wolfpack,0.024795,Miami (FL) Hurricanes,-0.024795
2,Clemson Tigers,-0.231954,Duke Blue Devils,0.231954
3,Boston College Eagles,-0.131051,Virginia Tech Hokies,0.131051
4,Syracuse Orange,0.160407,Notre Dame Fighting Irish,-0.160407
...,...,...,...,...
144,Louisville Cardinals,-0.154789,North Carolina Tar Heels,0.154789
145,Syracuse Orange,-0.093536,Duke Blue Devils,0.093536
146,Florida State Seminoles,0.248925,Virginia Cavaliers,-0.248925
147,Duke Blue Devils,-0.000650,North Carolina Tar Heels,0.000650
148,Florida State Seminoles,-0.136180,Duke Blue Devils,0.136180

In [169]:
away_eff=team_eff.groupby(['AwayTeam']).sum()
away_eff=away_eff.drop(['net_home_efficiency'],axis=1)

## Overall net efficiency of Away team

In [170]:
away_eff

                               net_away_efficiency
AwayTeam
Boston College Eagles                    -1.176568
Clemson Tigers                           -0.040800
Duke Blue Devils                          1.004353
Florida State Seminoles                   0.619006
Georgia Tech Yellow Jackets              -1.284872
Louisville Cardinals                      0.441126
Miami (FL) Hurricanes                    -1.832184
North Carolina State Wolfpack            -0.517166
North Carolina Tar Heels                  1.855814
Notre Dame Fighting Irish                -1.278993
Pittsburgh Panthers                      -1.652023
Syracuse Orange                          -0.135405
Virginia Cavaliers                        2.179449
Virginia Tech Hokies                      0.206242
Wake Forest Demon Deacons                -2.143340

In [171]:
home_eff=team_eff.groupby(['HomeTeam']).sum()
home_eff=home_eff.drop(['net_away_efficiency'],axis=1)

## Overall net efficiency of Home Team

In [172]:
home_eff

                               net_home_efficiency
HomeTeam
Boston College Eagles                    -0.663346
Clemson Tigers                            0.721326
Duke Blue Devils                          1.419716
Florida State Seminoles                   1.177491
Georgia Tech Yellow Jackets              -0.808319
Louisville Cardinals                      1.005310
Miami (FL) Hurricanes                     0.662595
North Carolina State Wolfpack            -0.266206
North Carolina Tar Heels                  0.564955
Notre Dame Fighting Irish                -1.123358
Pittsburgh Panthers                      -0.865539
Syracuse Orange                           0.352670
Virginia Cavaliers                        2.036226
Virginia Tech Hokies                      1.484145
Wake Forest Demon Deacons                -1.942302

In [173]:
home_eff.reset_index(inplace=True)
away_eff.reset_index(inplace=True)

In [174]:
home_eff.head()

                      HomeTeam  net_home_efficiency
0        Boston College Eagles            -0.663346
1               Clemson Tigers             0.721326
2             Duke Blue Devils             1.419716
3      Florida State Seminoles             1.177491
4  Georgia Tech Yellow Jackets            -0.808319

## Overall efficiency of a team

In [175]:
overall = pd.concat([home_eff,away_eff],axis=1)

In [176]:
overall['Total_Efficiency'] = overall['net_home_efficiency'] + overall['net_away_efficiency']

In [177]:
overall=overall.drop(columns=['net_home_efficiency','net_away_efficiency','AwayTeam'],axis=1)

In [178]:
final = overall.sort_values(by=['Total_Efficiency'],ascending=False)

In [179]:
final['Rank'] = final['Total_Efficiency'].rank(method='dense', ascending=False)

# Dense Rank with respect to efficiency

In [180]:
final

                         HomeTeam  Total_Efficiency  Rank
12             Virginia Cavaliers          4.215675   1.0
2                Duke Blue Devils          2.424069   2.0
8        North Carolina Tar Heels          2.420768   3.0
3         Florida State Seminoles          1.796496   4.0
13           Virginia Tech Hokies          1.690387   5.0
5            Louisville Cardinals          1.446436   6.0
1                  Clemson Tigers          0.680526   7.0
11                Syracuse Orange          0.217265   8.0
7   North Carolina State Wolfpack         -0.783373   9.0
6           Miami (FL) Hurricanes         -1.169589  10.0
0           Boston College Eagles         -1.839914  11.0
4     Georgia Tech Yellow Jackets         -2.093191  12.0
9       Notre Dame Fighting Irish         -2.402352  13.0
10            Pittsburgh Panthers         -2.517563  14.0
14      Wake Forest Demon Deacons         -4.085642  15.0

In [181]:
r = final['Rank']
final.drop(labels=['Rank'],axis=1,inplace=True)
final.insert(0,'Rank',r)
final

    Rank                       HomeTeam  Total_Efficiency
12   1.0             Virginia Cavaliers          4.215675
2    2.0               Duke Blue Devils          2.424069
8    3.0       North Carolina Tar Heels          2.420768
3    4.0        Florida State Seminoles          1.796496
13   5.0           Virginia Tech Hokies          1.690387
5    6.0           Louisville Cardinals          1.446436
1    7.0                 Clemson Tigers          0.680526
11   8.0                Syracuse Orange          0.217265
7    9.0  North Carolina State Wolfpack         -0.783373
6   10.0          Miami (FL) Hurricanes         -1.169589
0   11.0          Boston College Eagles         -1.839914
4   12.0    Georgia Tech Yellow Jackets         -2.093191
9   13.0      Notre Dame Fighting Irish         -2.402352
10  14.0            Pittsburgh Panthers         -2.517563
14  15.0      Wake Forest Demon Deacons         -4.085642

In [182]:
final.reset_index(inplace=True)

In [183]:
final.drop(labels=['index'],axis=1,inplace=True)

In [184]:
final

    Rank                       HomeTeam  Total_Efficiency
0    1.0             Virginia Cavaliers          4.215675
1    2.0               Duke Blue Devils          2.424069
2    3.0       North Carolina Tar Heels          2.420768
3    4.0        Florida State Seminoles          1.796496
4    5.0           Virginia Tech Hokies          1.690387
5    6.0           Louisville Cardinals          1.446436
6    7.0                 Clemson Tigers          0.680526
7    8.0                Syracuse Orange          0.217265
8    9.0  North Carolina State Wolfpack         -0.783373
9   10.0          Miami (FL) Hurricanes         -1.169589
10  11.0          Boston College Eagles         -1.839914
11  12.0    Georgia Tech Yellow Jackets         -2.093191
12  13.0      Notre Dame Fighting Irish         -2.402352
13  14.0            Pittsburgh Panthers         -2.517563
14  15.0      Wake Forest Demon Deacons         -4.085642

In [186]:
result['Results'] = result.apply(lambda x: int(x['HomeScore'] > x['AwayScore']), axis=1)

In [189]:
result['Wteam'] = np.where(result['Results'] == 1, result['HomeTeam'],result['AwayTeam'])

In [191]:
w = result['Wteam']
w = pd.DataFrame(w)

In [192]:
w

                             Wteam
0             Virginia Tech Hokies
1    North Carolina State Wolfpack
2                 Duke Blue Devils
3             Virginia Tech Hokies
4                  Syracuse Orange
..                             ...
144       North Carolina Tar Heels
145               Duke Blue Devils
146        Florida State Seminoles
147               Duke Blue Devils
148               Duke Blue Devils

[149 rows x 1 columns]

In [193]:
w_p = w['Wteam'].value_counts()
w_p = pd.DataFrame(w_p)

In [194]:
w_p.reset_index(inplace=True)

In [195]:
w_p.columns = ['Team','Wins']
w_p

                             Team  Wins
0                Duke Blue Devils    17
1              Virginia Cavaliers    17
2        North Carolina Tar Heels    17
3         Florida State Seminoles    15
4            Virginia Tech Hokies    13
5                 Syracuse Orange    11
6            Louisville Cardinals    11
7   North Carolina State Wolfpack    10
8                  Clemson Tigers     9
9     Georgia Tech Yellow Jackets     6
10          Miami (FL) Hurricanes     6
11          Boston College Eagles     5
12      Notre Dame Fighting Irish     4
13            Pittsburgh Panthers     4
14      Wake Forest Demon Deacons     4

In [197]:
wp = result['HomeTeam'].value_counts()

In [198]:
wp = pd.DataFrame(wp)

In [199]:
wp.reset_index(inplace=True)
wp.columns = ['Teams','Games']

In [200]:
wp

                            Teams  Games
0                Duke Blue Devils     11
1              Virginia Cavaliers     11
2        North Carolina Tar Heels     11
3   North Carolina State Wolfpack     10
4           Boston College Eagles     10
5         Florida State Seminoles     10
6           Miami (FL) Hurricanes     10
7                 Syracuse Orange     10
8     Georgia Tech Yellow Jackets     10
9            Virginia Tech Hokies     10
10           Louisville Cardinals     10
11                 Clemson Tigers      9
12            Pittsburgh Panthers      9
13      Wake Forest Demon Deacons      9
14      Notre Dame Fighting Irish      9

In [201]:
wp2 = result['AwayTeam'].value_counts()

In [202]:
wp2 = pd.DataFrame(wp2)

In [203]:
wp2.reset_index(inplace=True)

In [204]:
wp2.columns = ['Teams','Games']

In [205]:
wp2

                            Teams  Games
0       Notre Dame Fighting Irish     11
1         Florida State Seminoles     11
2             Pittsburgh Panthers     11
3                 Syracuse Orange     10
4   North Carolina State Wolfpack     10
5                Duke Blue Devils     10
6       Wake Forest Demon Deacons     10
7                  Clemson Tigers     10
8            Virginia Tech Hokies     10
9           Miami (FL) Hurricanes     10
10           Louisville Cardinals     10
11          Boston College Eagles      9
12             Virginia Cavaliers      9
13       North Carolina Tar Heels      9
14    Georgia Tech Yellow Jackets      9

In [206]:
rating = wp2.groupby('Teams').sum().add(wp.groupby('Teams').sum(), fill_value=0).reset_index()

In [207]:
rating

                            Teams  Games
0           Boston College Eagles     19
1                  Clemson Tigers     19
2                Duke Blue Devils     21
3         Florida State Seminoles     21
4     Georgia Tech Yellow Jackets     19
5            Louisville Cardinals     20
6           Miami (FL) Hurricanes     20
7   North Carolina State Wolfpack     20
8        North Carolina Tar Heels     20
9       Notre Dame Fighting Irish     20
10            Pittsburgh Panthers     20
11                Syracuse Orange     20
12             Virginia Cavaliers     20
13           Virginia Tech Hokies     20
14      Wake Forest Demon Deacons     19

In [208]:
w_p.columns = ['Teams','Wins']

In [209]:
w_p

                            Teams  Wins
0                Duke Blue Devils    17
1              Virginia Cavaliers    17
2        North Carolina Tar Heels    17
3         Florida State Seminoles    15
4            Virginia Tech Hokies    13
5                 Syracuse Orange    11
6            Louisville Cardinals    11
7   North Carolina State Wolfpack    10
8                  Clemson Tigers     9
9     Georgia Tech Yellow Jackets     6
10          Miami (FL) Hurricanes     6
11          Boston College Eagles     5
12      Notre Dame Fighting Irish     4
13            Pittsburgh Panthers     4
14      Wake Forest Demon Deacons     4

In [210]:
comb = pd.merge(rating,w_p,on=["Teams"],how='inner')

## Calculating Rating

In [211]:
comb['Rating'] = comb.apply(lambda x: x.Wins/x.Games,axis=1)

In [212]:
comb

                            Teams  Games  Wins    Rating
0           Boston College Eagles     19     5  0.263158
1                  Clemson Tigers     19     9  0.473684
2                Duke Blue Devils     21    17  0.809524
3         Florida State Seminoles     21    15  0.714286
4     Georgia Tech Yellow Jackets     19     6  0.315789
5            Louisville Cardinals     20    11  0.550000
6           Miami (FL) Hurricanes     20     6  0.300000
7   North Carolina State Wolfpack     20    10  0.500000
8        North Carolina Tar Heels     20    17  0.850000
9       Notre Dame Fighting Irish     20     4  0.200000
10            Pittsburgh Panthers     20     4  0.200000
11                Syracuse Orange     20    11  0.550000
12             Virginia Cavaliers     20    17  0.850000
13           Virginia Tech Hokies     20    13  0.650000
14      Wake Forest Demon Deacons     19     4  0.210526

In [213]:
comb.drop(['Wins', 'Games'], axis=1, inplace=True)

In [214]:
comb

                            Teams    Rating
0           Boston College Eagles  0.263158
1                  Clemson Tigers  0.473684
2                Duke Blue Devils  0.809524
3         Florida State Seminoles  0.714286
4     Georgia Tech Yellow Jackets  0.315789
5            Louisville Cardinals  0.550000
6           Miami (FL) Hurricanes  0.300000
7   North Carolina State Wolfpack  0.500000
8        North Carolina Tar Heels  0.850000
9       Notre Dame Fighting Irish  0.200000
10            Pittsburgh Panthers  0.200000
11                Syracuse Orange  0.550000
12             Virginia Cavaliers  0.850000
13           Virginia Tech Hokies  0.650000
14      Wake Forest Demon Deacons  0.210526

In [215]:
final

    Rank                       HomeTeam  Total_Efficiency
0    1.0             Virginia Cavaliers          4.215675
1    2.0               Duke Blue Devils          2.424069
2    3.0       North Carolina Tar Heels          2.420768
3    4.0        Florida State Seminoles          1.796496
4    5.0           Virginia Tech Hokies          1.690387
5    6.0           Louisville Cardinals          1.446436
6    7.0                 Clemson Tigers          0.680526
7    8.0                Syracuse Orange          0.217265
8    9.0  North Carolina State Wolfpack         -0.783373
9   10.0          Miami (FL) Hurricanes         -1.169589
10  11.0          Boston College Eagles         -1.839914
11  12.0    Georgia Tech Yellow Jackets         -2.093191
12  13.0      Notre Dame Fighting Irish         -2.402352
13  14.0            Pittsburgh Panthers         -2.517563
14  15.0      Wake Forest Demon Deacons         -4.085642

In [216]:
final.columns = ['Rank','Teams','Efficieny']

In [217]:
output = pd.merge(final,comb,on=["Teams"],how='inner')

In [218]:
output.drop(['Efficieny'],inplace=True,axis=1)

In [219]:
output = output.round(2)

In [220]:
output.Rank = pd.Series(output.Rank,dtype=object)

## Team Ranks and Rating

In [221]:
output

   Rank                          Teams  Rating
0     1             Virginia Cavaliers    0.85
1     2               Duke Blue Devils    0.81
2     3       North Carolina Tar Heels    0.85
3     4        Florida State Seminoles    0.71
4     5           Virginia Tech Hokies    0.65
5     6           Louisville Cardinals    0.55
6     7                 Clemson Tigers    0.47
7     8                Syracuse Orange    0.55
8     9  North Carolina State Wolfpack    0.50
9    10          Miami (FL) Hurricanes    0.30
10   11          Boston College Eagles    0.26
11   12    Georgia Tech Yellow Jackets    0.32
12   13      Notre Dame Fighting Irish    0.20
13   14            Pittsburgh Panthers    0.20
14   15      Wake Forest Demon Deacons    0.21

In [228]:
output.to_csv('ACCRankings1819.csv',index=False)